{% extends "base.html" %}

{% block head_title %}
Listado de Maquillaje
{% endblock head_title %}

{% block contenido %}
<h1>Listado de Maquillaje</h1>

<a href="{% url "productos:crear_maquillaje" %}">Crear Maquillaje</a>

<ul>
    {% for producto in productos %}
    <li>{{ producto.marca }} - {{ producto.descripcion }}
    | <a href="{% url "productos:detalle_maquillaje" producto.id %}">Detalle</a>
    | <a href="{% url "productos:actualizar_maquillaje" producto.id %}">Actualizar</a>
    | <a href="{% url "productos:borrar_maquillaje" producto.id %}">Borrar</a>

    </li>
    {% endfor %}
</ul>
{% endblock contenido %}